* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2400x1600/690360c54dbfe62a0fa6c2e545a017bf/photo-1428908728789-d2de25dbd4e2.jpg") center / cover no-repeat;
}

.boards {
    display: flex;
    width: 100%;
}

.boards__item {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    max-width: 250px;
    width: 100%;
    background-color: #ebecf0;
    margin: 0 15px;
    padding: 10px;
    transition: .3s all ease;
    border-radius: 3px;  
}

.title {
    padding: 5px;
    font-size: 20px;
    color: #1f2020;
}

.title:focus {
    outline: 1px solid rgba(168, 168, 168, .45);
}

.list {
    min-height: 40px;
}

.list__item {
    background-color: #fefefe;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    margin: 8px 0;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    border: none;
    position: relative;
}

.form {
    display: none;
    border-radius: 3px;
    margin-top: auto;
}

.textarea {
    resize: none;
    height: 60px;
    border-radius: 3px;
    border: none;
    background: white;
    padding: 10px;
    width: 100%;
}

.textarea:focus {
    outline: none;
}

.buttons {
    display: flex; 
}

.add__item-btn {
    font-family: 'Roboto', Helvetica, sans-serif;
    background: rgb(0, 121, 191);
    border: none;
    height: 35px;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100%;
}

.cancel__item-btn {
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 0 10px;
    background: rgb(160, 17, 12);
    color: white;
    border: none;
    height: 35px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    margin-left: auto;
    flex-shrink: 0;
}

.add__btn {
    font-family: 'Roboto', Helvetica, sans-serif;
    height: 30px;
    background: rgba(155, 155, 155, .3);
    border-radius: 3px;
    margin-top: 5px;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding-left: 10px;
    color: #1f2020;
    cursor: pointer;
}

.add__btn-plus {
    font-size: 20px;
    margin-right: 10px;
    color: #1f2020;
}

.button {
    font-family: 'Roboto', Helvetica, sans-serif;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 121, 191);
    border: none;
    width: 150px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    color: white;
    border-radius: 3px;
    font-size: 14px;
}